* {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
    }
    
    .header {
      padding: 10px;
      margin-top: 10px;
      text-align: justify;
      background: rgb(128,128,128);
      color: white;
    }
    
    .navbar {
      overflow: hidden;
      background-color:rgb(128,128,128);
    }
      
       .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .navbar > ul {
        display: flex;
      }
      
      .navbar > ul > li {
        position: relative;
        white-space: nowrap;
        padding: 10px 0 10px 28px;
      }      
            
    .navbar a {
      float: left;
      display: block;
      color: rgb(226, 104, 34); 
      text-align: center;
      padding: 14px 10px;
      text-decoration: none;
    }
            
            
    /* Change color on hover */
    .navbar a:hover {
      background-color: white;
      color: black;
    }
    .navbar .active {
      background-color: white;
      color: black;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
    }
    
    .column img {
      margin-top: 12px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
